[submodule "vim/bundle/bundle/bufexplorer"]
	path = vim/bundle/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip
[submodule "vim/bundle/bundle/nerdtree"]
	path = vim/bundle/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/bundle/surround"]
	path = vim/bundle/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/bundle/css3"]
	path = vim/bundle/bundle/css3
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/bundle/autoclose"]
	path = vim/bundle/bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/bundle/fugitive"]
	path = vim/bundle/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/bundle/nerdcommenter"]
	path = vim/bundle/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = git@github.com:yegappan/mru.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-yaml"]
	path = vim/bundle/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "vim/pack/github/copilot.vim"]
	path = vim/pack/github/copilot.vim
	url = git@github.com:github/copilot.vim.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/nerdcommenter"]
	path = vim/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/nerdtree"]
	path = vim/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/surround"]
	path = vim/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/css3"]
	path = vim/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/autoclose"]
	path = vim/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/fugitive"]
	path = vim/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim-flake8"]
	path = vim/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
